.eulaContainer{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 14px 22px 22px 22px;
    background-color: white;
    border-radius: 4px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.body {
    width: 100%;
    padding: 15px;
    margin-top: 23px;
    border-radius: 4px;
}

.loader {
    margin-left: 20px;
}