.titleWrapper {
  padding: 16px;
  align-items: center;
  display: flex;
}

.titleContainer {
  align-items: center;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.iconButtonContainer {
  position: relative;
  margin-right: -5px;
  display: flex;
  align-items: center;
}

.iconButton {
  position: relative;
  margin-left: 9px;
}

.icon {
  font-size: 20px;
}

.filterBtnWrapper {
  margin-left: 7px;
}

.filterBtn {
  width: 36px;
  height: 36px;
  &__filterIcon {
    width: 12px;
    height: 12px;
  }
}

.verticalLine {
  margin: 0px 12px;
}
