.boxInput {
	display: flex;
	gap: 1em;
}

.hr {
	color: rgb(0, 0, 0);
	width: 100%;
}

.footerButton {
	margin: .5em;
}

.changes {
	display: flex;
	justify-content: right;
	position: relative;
}