.SideBarWrapper {
  min-width: 660px;
  max-width: 828px;
  width: 100%;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0px 16px;
}

.aboveTitle {
  font-size: 0.875rem;
}

.job {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 4px;
}

.jobTitle {
  font-weight: 600;
  font-size: 1rem;
  margin-right: 24px;
}

.divider {
  margin: 13px 0px 0px;
}

.closeIcon {
  font-size: 24px;
}

.sidebarContent {
  padding: 0px 16px 16px 16px;
}

.accordionTitle {
  font-size: 0.75rem;
  font-weight: 700;
}

.jobContent {
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.jobContentFlex {
  margin-bottom: 8px;
  display: flex;
}

.jobContentRow {
  margin-bottom: 6px;
}
.jobContentText {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
}
.jobContentTextMultiline {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
}

.jobContentTitle {
  min-width: 117px;
  max-width: 117px;
  font-size: 12px;
  padding-right: 10px;
}

.jobContentTablesTitle {
  min-width: 117px;
  max-width: 117px;
  font-size: 12px;
  padding-right: 10px;
  align-tracks: start;
}

.textAreaColumn {
  display: flex;
  flex-direction: column;
  margin-top: -8px;
}

.box {
  &__emptyTable {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 796px;
    height: 329px;
    margin-top: 8px;
    text-align: center;
  }
}
