.diagonstics_container {
  width: 100%;
  height: 100%;
  background-color: white;
  display: block;
  margin: 0px;
  padding: 14px 22px 0px 22px;
  border: 1px solid var(--ie-palette-neutral-dark500);
  border-radius: 4px;
}

.max_width {
  max-width: 800px;
}

.heartbeat {
  margin: 22px 0px 16px 0px;
}

.cybersense {
  padding-bottom: 10px;
  margin-bottom: 13px;
  border-bottom: 1px solid #cad6e099;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.formatAlign {
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 13px;
}

.typography_subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.set_zeros {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.body {
  overflow-x: visible;
  overflow: visible;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.section {
  font-weight: 400;
  font-size: 16px;
}

.content {
  font-weight: 400;
  font-size: 16px;
}

.button {
  width: auto;
  height: auto;
  border: transparent;
  border: solid transparent 1px;
  margin: 10px 0px 10px 10px;

  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}

.diagnostocs_block {
  height: 100%;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid rgb(225, 211, 211);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 700px;
  padding-bottom: 15px;
}

.changes {
  display: flex;
  justify-content: right;
  width: 700px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
