.allocationWrapper {
  flex-direction: row;
  padding: 0px 22px 16px;
  min-height: 185px;
  width: 100%;
}

.columnDivider {
  margin: 0px 32px;
}

.rowDivider {
  margin: 8px 0px;
}

.column {
  width: 100%;
}
