.stack {
  &__main {
    gap: 15px;
  }

  &__titleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__subtitleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__chip {
    display: flex;
    flex-direction: row;
    gap: 12px;
    min-height: 24px;
    align-items: flex-start;
  }
}

.typography {
  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
  }
}

.chartWrapper {
  padding: 12px 5px 16px 0px;
  max-height: 131px;
  max-width: 446px;
  width: 100%;

  &>div {
    pointer-events: none;
  }

  cursor: pointer;
}

@media (max-width: 1300px) {
  .removeHostsText {
    text-align: left;
  }
  .stack {
    &__titleRow {
      flex-direction: column;
      align-items: flex-start;
    }

    &__chip {
      flex-direction: column;

      .chip {
        position: relative;
        left: -7px;
      }
    }
  }
}

.container {
  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: 256ms ease-in-out;
    min-width: 348px;
  }
}
